[Unit]
Description=Photo Manager Site App
After=network.target

[Service]
WorkingDirectory=/home/ubuntu/photomanager-backend
ExecStart=/home/ubuntu/dotnet-9-sdk/dotnet /home/ubuntu/photomanager-backend/publish/imageuploadandmanagementsystem.dll
Restart=always

Environment=ASPNETCORE_ENVIRONMENT=Production
Environment=AWS_ACCESS_KEY_ID=
Environment=AWS_SECRET_ACCESS_KEY=
Environment=JWT_KEY=
Environment=DB_HOST_NAME=
Environment=DB_USER_NAME=
Environment=DB_USER_PASSWORD=
Environment=DB_NAME=
Environment=DB_PORT=

StandardOutput=syslog
StandardError=syslog
SyslogIdentifier=photomanagersiteapp

[Install]
WantedBy=multi-user.target
